.banner_turtle {
    margin-top: 0px
}

.swiper_item img {
    height: unset;
}


@media (min-width: 992px) {
    .banner_turtle {
        margin-top: -81px;
    }

    .swiper_item img {
        height: 100vh;
        width: 100vw;
    }
}