.to_top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 199;

    p {
        display: none;
        width: 41px;
        height: 157px;
        background-image: url('https://d1074181068.github.io/turtle/images/totop_hover.png');
        background-repeat: no-repeat;
        writing-mode: vertical-lr;
        padding: 16px 8px;
        letter-spacing: 5px;
    }

    &:hover p {
        display: block;
    }

    img {
        width: 70px;
        height: 70px;
    }
}