.object-fill {
    object-fit: fill;
}

.object-cover {
    object-fit: cover;
}

.bg-gradient-dark {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.bgc-body {
    background-color: $body;
}

.logo {
    a {
        font-size: 25px;
    }

    img {
        width: 50px;
        height: 50px;
    }

}

.carousel-item {
    .carousel-caption {
        bottom: 4rem;
    }
}

footer {
    .quick-link {
        text-decoration: none;

        &:hover {
            color: $warning;
            text-decoration: underline;
        }
    }
}

.accordion-header .accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #C1AC95;
}

article p {
    color: $warning;
}

.breadcrumb a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}